body {
    background-color: rgb(255, 255, 255);
    font-family: Mont;
    margin: 0
}

.title {
    font-size: 45px;
    color:#bbc6c7;
}

.subtitle {
    font-size: 30px;
    color: #073843;
    text-align: center;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border-style: outset;
    border-width: 5px;
}

.card {
    width: 400px;
    margin: 40px auto;
    margin-top: 137px;
    background-color: gray;
    box-shadow: 0 5px 10px #3f4343;
    border-radius: 10px;
    padding: 20px;
}

.card-photo {
    display:block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    font-size: 40px;
    text-align: center;
    color: #111;
}

.card-subtitle {
    font-size: 25px;
    text-align: center;
    color: #111;
}

.card-text {
    color: #111;
    font-size: 18px;
}

.othercard-text {
    color: #111;
    text-align: center;
    font-size: 18px;
}

.text {
    font-size: 30px;
    color: #111;
    text-align: left;
    margin-left: 50px;
    margin-top: 138px;
}

.text1 {
    font-size: 30px;
    color: #111;
    text-align: left;
    margin-left: 50px;
    margin-top: 34px;
}

.card1 {
    width: 250px;
    background-color: gray;
    box-shadow: 0 5px 10px #3f4343;
    border-radius: 10px;
    padding: 20px;
    border: 40px;
    margin-left: 50px;
    margin-top: 33px;
    cursor: pointer;
}

.card2 {
    width: 250px;
    background-color: gray;
    box-shadow: 0 5px 10px #3f4343;
    border-radius: 10px;
    padding: 20px;
    border: 40px;
    margin-left: 429px;
    margin-top: -300px;
    cursor: pointer;
}

.card3 {
    width: 250px;
    background-color: gray;
    box-shadow: 0 5px 10px #3f4343;
    border-radius: 10px;
    padding: 20px;
    border: 40px;
    margin-left: 50px;
    margin-top: 25px;
    cursor: pointer;
}

.card4 {
    width: 250px;
    background-color: gray;
    box-shadow: 0 5px 10px #3f4343;
    border-radius: 10px;
    padding: 20px;
    border: 40px;
    margin-left: 429px;
    margin-top: -301px;
    cursor: pointer;
}

.card5 {
    width: 250px;
    background-color: gray;
    box-shadow: 0 5px 10px #3f4343;
    border-radius: 10px;
    padding: 20px;
    border: 40px;
    margin-left: 808px;
    margin-top: -301px;
    cursor: pointer;
}

.logo {
    background-color: #111;
    width: 100%;
    margin-top: -138px;
}

.logos {
    display:block;
    width: 200px;
    height: 200px;
    margin-left: 112px;
    border-radius: 50%;
}

.logos1 {
    display:block;
    width: 200px;
    height: 200px;
    margin-left: 489px;
    border-radius: 50%;
}

.logos2 {
    display:block;
    width: 200px;
    height: 200px;
    margin-left: 1319px;
}

.logos3 {
    display:block;
    width: 250px;
    height: 250px;
    margin-left: 888px;
    margin-top: -29px;
}

.grafic-logo {
    max-width: 100%;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100%;
}

.logo.blue {
    background-color: rgb(27, 117, 208);
}
.nav {
    margin-left: 570px;
    margin-top: -69px;
    font-size: 25px;
    color: #073843;
}

.nav-link {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.nav-link1 {
    margin-left: 145px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.topnav a:hover{
    border-bottom: 2px solid white;
}

.icon {
    text-decoration: none;
    margin-left: 450px;
    color: white;
    box-sizing: border-box;
}

.icon1 {
    text-decoration: none;
    margin-left: 1250px;
}

.list {
    margin-top: -102px;
}

.paragraph {
    margin-left: 131px;
    font-size: 18px;
}

.paragraph1 {
    margin-left: 569px;
    margin-top: -243px;
    font-size: 18px;
}

.paragraph2 {
    margin-left: 1335px;
    margin-top: -243px;
    font-size: 18px;
}

.paragraph3 {
    margin-left: 911px;
    margin-top: -243px;
    font-size: 18px;
}
